
<!-- 底部================================================== -->
<div class="footer text-center" style="margin:10px 0 0 0;padding:20px;font-size:16px;border-top:1px #eee solid">
	<p>©聚募  dreammove.cn&nbsp;&nbsp;&nbsp;浙ICP备14030231号-1</p>
	<p>联系电话：0571-8685 8285</p>
</div>

<include file="Public/var"/>

<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->

{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
<script src="http://s6.cnzz.com/z_stat.php?id=1253481980&web_id=1253481980" language="JavaScript"></script>
	<block name="hidden"></block>
</div>